.complete {
    text-decoration: line-through;
    font-style: italic;
    color: rgb(97, 133, 116);
    text-decoration: line-through;
}

.active {
    color: black;
}

.buttons-container {
   
    background-color: rgb(207, 230, 217); 
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 50%;
    
}
.serverbtns {
    background-color: rgb(97, 116, 179); 
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 50%;
}

.addremove {
    background-color: rgb(207, 230, 217); 
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 50%;
}

body {
    font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    line-height: 1.4em;
    background: #f5f5f5;
    color: #4d4d4d;
    min-width: 230px;
    max-width: 640px;;
    margin: 0 auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 300;
}
h1 {
    font-family: Arial, sans-serif;
    font-size:70px;
    color: #888888;
    font-weight: normal;
    color:rgb(241, 167, 154);
    text-align: center;

}
#todoText {
    border-radius: 5px;
    border: solid 1px #cccccc;
    padding: 5px 8px;
    border-bottom: solid 1px #cccccc;
    
}

.li {
    padding: 5px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 1px #cccccc;
}
